header{.gradientBackgroundTop(#1d365d, #334a6d)}

header {
  font-size: 23px;

  nav {
    width: 850px;
    margin: 0px auto;

    ul {
      li {
        margin: 0px 20px;
      }
    }

    a {
      color: @dodgerBlue !important;
    }

    a:hover {
      color: @darkOrange !important;
    }
  }

  /* Overriding Bootstrap styles */
  .navbar-default {
    background-color: transparent;
    border-color: transparent;

    .navbar-collapse, .navbar-default .navbar-form {
      margin-top: 15px;
    }

    .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
      background-color: transparent;
    }

    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
      background-color: transparent;
      border-color: #428bca;
    }

    .navbar-toggle {
      border-color: transparent;
      margin-top: 25px;
    }

    .navbar-toggle:hover {
      background-color: transparent;
    }

    .navbar-toggle:focus {
      background-color: rgba(221, 221, 221, 0.5);
    }
  }

  .navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .navbar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 1px;
  }

  .navbar-brand {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  /* Use hover instead of click on dropdown */
  ul.nav li.dropdown:hover > ul.dropdown-menu {
      display: block;
  }
  .collapse {
   display: block;
  }
}

@media (max-width: 831px) {
  header {
    nav {
      ul {
        li {
          margin: 0px 10px;
        }
      }
    }
  }
}
