<div class="contact">
    <section class="individuals">
      <div class="individual" ng-repeat="individual in individuals">
        <div class="name">{{individual.name}}</div>
        <div class="title">{{individual.title}}</div>
        <div class="phone">Phone: {{individual.phone}}</div>
      </div>
    </section>
  <div class="info">
    <section class="company">
        <span class="name">{{company.name}}</span><br/>
        <span ng-repeat="address in company.address">{{address}}<br/></span>
        <br/>
        Phone: {{company.phone}}<br/>
        E-mail: <span ng-repeat="email in company.emails">
                  <a href="mailto:{{email}}" target="_blank">{{email}}</a><br/>
                </span><br/>
        Hours: Mon-Fri: 9am to 5pm
    </section>
    <section class="map">
      <google-map center="map.center" zoom="map.zoom" draggable="true">
        <marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" >
          <marker-label content="marker.title" anchor="2 0" class="marker-labels"/>
        </marker>
      </google-map>
    </section>
  </div>
</div>
