<nav class="navbar navbar-default" role="navigation" ng-controller="HeaderCtrl" ng-cloak>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/logo.png" alt="Nivas Constructions"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div collapse="isCollapsed" class="navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown" ng-repeat="link in links | orderBy: 'id'">
          <a ng-show="!link.submenu" href="{{link.url}}" ng-click="collapseNavBar(link.url)">{{link.title}}</a>
          <a ng-show="link.submenu" href="#" class="dropdown-toggle" data-toggle="dropdown">{{link.title}}</a>
          <ul ng-show="link.submenu" class="dropdown-menu" role="menu">
            <li ng-repeat="menu in link.submenu">
              <a href="{{menu.url}}" ng-click="collapseNavBar(link.url)">{{menu.title}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
