<div class="projects">
  <div class="project" ng-repeat="(id, project) in projects | filter: {status: type()}| orderBy:'priority'" data-id="{{id}}">
    <div class="name">{{project.name}}</div>
    <div>
      <img ng-src="{{project.thumbnail}}"/>
    </div>
    <div>
      <div ng-show="project.info.flats">
        Flats: <b>{{project.info.flats}}</b><span ng-show="project.info.flatType">, <b>{{project.info.flatType}}</b></span>
      </div>
      <div ng-show="project.info.area">Area: <b>{{project.info.area}}</b></div>
      <div ng-show="project.status">Status: <b>{{project.status}}</b></div>
      <div ng-show="project.info.location">Location: <b>{{project.info.location}}</b></div>
      <div>
        Features:
        <ul>
          <li>100% Vasthu</li>
          <li>Bank Loan support</li>
        </ul>
      </div>
      <span ng-show="project.gallery"><a ng-click="setGallery({{project.gallery}})">Gallery</a></span>
      <span ng-repeat="(title, link) in project.links">
        | &nbsp<a ng-href="{{link}}" target="_blank">{{title}}</a>
      </span>
    </div>
  </div>
</div>
